.zaglavlje {
  height: 40rem;
  position: relative;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #333,
    #dbdbdb,
    #f2f2f2,
    #333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @mixin atSmall {
    top: 207rem;
    border-top: none;
    color: #333;
  }

  @mixin atMedium {
    height: 40rem;
    top: 198.5rem;
    padding-top: 2rem;
    color: #333;
  }

  @mixin atLarge {
    top: 5rem;
    border-top: 1px solid #333;
    height: 20rem;
  }

  &__container {
    width: 90%;
    margin: auto;
  }

  &__title {
    font-weight: 700;
  }

  &__input {
    border: 2px solid #333;
    border-right: none;
    /* margin-right: 10px; */

    @mixin atSmall {
      width: 90%;
    }

    @mixin atLarge {
      width: 67%;
    }
  }
}

i {
  border: 2px solid #333;
  border-left: none;
  height: 1rem;
}

.fa-search {
  height: 17px;
  top: 0px;
  position: relative;
  padding: 2px;
}
