.social-network {
  margin-left: 4rem;

  @mixin atMedium {
    width: 90%;
  }

  &__icon {
    position: relative;
    top: -8rem;
    margin: 0 10px;
    font-size: 2.5rem;
    font-weight: 300;
    color: $mainGrey;
    border: none;
    margin: 0 10px;

    @mixin atMedium {
      margin: 0 3.2rem;
    }
  }
}

.social-network i {
  @mixin atMedium {
    margin-right: 80px;
  }
}
