.wrapper {
  @mixin atSmall {
    padding-left: 0;
    padding-right: 0;
  }

  @mixin atMedium {
    padding-left: 0;
    padding-right: 0;
  }
  @mixin atLarge {
    padding-left: 18px;
    padding-right: 18px;
  }

  /* @mixin atSmall {
    padding: 0;
  } */
}
